APP_NAME=ArinaFits
APP_ENV=production
APP_KEY=base64:DjzVdYum3G236DuSkie2s2ahzLBBRtYHyagoqE5eF38=
APP_DEBUG=false
APP_URL=https://arinafits.com.np
APP_ADMIN_URL=admin
APP_TIMEZONE=Asia/Kathmandu
FORCE_HTTPS=true

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_CURRENCY=NPR

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=cpaneluser_arinafits
DB_USERNAME=cpaneluser_arinafits
DB_PASSWORD=REPLACE_WITH_CPANEL_DB_PASSWORD
DB_PREFIX=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=arinafits.com.np
SESSION_SECURE_COOKIE=true

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync

CACHE_STORE=file
CACHE_PREFIX=

RESPONSE_CACHE_ENABLED=true

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=mail.arinafits.com.np
MAIL_PORT=465
MAIL_USERNAME=REPLACE_WITH_MAIL_USER
MAIL_PASSWORD=REPLACE_WITH_MAIL_PASSWORD

MAIL_FROM_ADDRESS=shop@arinafits.com.np
MAIL_FROM_NAME=ArinaFits
ADMIN_MAIL_ADDRESS=admin@arinafits.com.np
ADMIN_MAIL_NAME=Admin
CONTACT_MAIL_ADDRESS=contact@arinafits.com.np
CONTACT_MAIL_NAME=Contact

VITE_APP_NAME="${APP_NAME}"
VITE_HOST=arinafits.com.np
VITE_PORT=
